<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
<Appenders>
  <Console name="console" target="SYSTEM_OUT"> 
    <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/> 
  </Console> 

  <File name="file" fileName="worker.log" bufferedIO="false" > 
    <PatternLayout pattern="%-5p %c{1} - %m%n"/> 
  </File> 
</Appenders>

<Loggers>
  <Logger name = "swc.logging.work.Worker" level="off" additivity="false">
  	<AppenderRef ref="console" />
  </Logger>

  <Logger name = "swc.logging.Main" level="off" additivity="false">
  	<AppenderRef ref="console" /> 
  </Logger>
  
  <Root level="off" additivity="false"> 
    <AppenderRef ref="console" /> 
  </Root>  
  </Loggers>
  
</Configuration>