# Maven
/target/

# Eclipse settings
/.settings/
/bin/
.project
.classpath
.checkstyle
.settings/
/dependency-reduced-pom.xml
 
# eclipse specific
*.pydevproject
.metadata
/.metadata/
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
bin/
tmp/
local.properties
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag